

body {


background-color: #f7f9ed;

}

.Account{
    text-align: left;
    background-color: #87a970;

}

.Notes {
    text-align: left;
    background-color: #87a970;
  
  }

.Day {

    

}

.Day-header {

    text-align: center;
    background-color: #d1bd99;

}

.Day-content {

    text-align: center;
    background-color: #d1bd99;


}

.Hour {

    text-align: center  + 100px;
    background-color: #d1bd99;

}

.Left-day-button {

    background-color: #b3a480;
}

.Right-day-button {

    background-color: #b3a480

}





