

body {


background-color: #f7f9ed;

}

.Account{

    background-color: #87a970;

}

.Notes {

    background-color: #87a970;
  
  }

.Day {

    

}

.Day-header {

    background-color: #d1bd99;

}

.Day-content {

    background-color: #d1bd99;


}

.Hour {

 
    background-color: #d1bd99;

}

.Left-day-button {

    background-color: #b3a480;
}

.Right-day-button {

    background-color: #b3a480

}





